:root.reduced-motion *,
:root.reduced-motion *::before,
:root.reduced-motion *::after {
  scroll-behavior: auto !important;
  transition-duration: 0.001ms !important;
  animation-duration: 0.001ms !important;
  animation-iteration-count: 1 !important;
}
